:root {
    --bg-color: #E5E2DC;
    --light-fill-color: #D7C7C1;
    --fill-color: #C7B1A8;
    --border-color: #7A443E;
    --dark-color: #442622;
    --link-color: #4F8F00;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Calibri, sans-serif;
    background-color: var(--bg-color);
    color: var(--dark-color);
    margin: 0px;
}
.darkmode {
    background-color: var(--dark-color, #000000);
    color: var(--bg-color,#ffffff)
}

.flex-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
}


.sidebar {
    text-align: left;
    justify-content:left;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    justify-self: left;
    align-self:self-start;
    text-align:left;
} /* sidebar and its associated flex-container prob unused
because i don't even plan on having that many pages for them*/

.sidebar a {
    display:block;
    padding: 10px;
}

.story-card, .character-card {
    background-color: var(--fill-color);
    border-color: var(--border-color);
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
    padding: 6px;
    margin: 12px
}

#list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.story-card {
    width:fit-content;
    min-width:10rem;
}

.story-card a {
    text-decoration: none;
    color: black;
} /*should not look like a link*/

.member-count {
    border: dotted;
    border-color: var(--border-color);
    border-radius: 6px;
    border-width: 2px;
    padding: 3px;
    margin-left: 2em; /*visual separation between player character and the member count*/
}

.label {
    margin: 5px;
}

a.link {
    color: var(--link-color)
}